@page
{{tcCentreOfExcellence_pace}}
<html>

<style>
    /*.panel-default:hover{
        background-color: #f2f3f4  ;
        transform: translate(0px,-2px) scale(1.02);
    }

    .headerText{
        font-size:20px;
        font-style: italic;
    }

    .letterText{
        font-size:18px;
    }*/

</style>

<div class="jumbotron-sub-even">
    <h1>
        <multilang>
            <en>How we work</en>
            <fr>Comment nous travaillons</fr>
        </multilang>
    </h1>
</div>
<div class="container">
    <p class="lead text-center">
        <multilang>
            <en>A Centre of Excellence supporting effective utilization of the Microsoft Power Apps suite throughout Transport Canada. This includes:</en>
            <fr>(fr) A Centre of Excellence supporting effective utilization of the Microsoft Power Apps suite throughout Transport Canada. This includes:</fr>
        </multilang>

    </p>
    <ol class="rectangle-list">
        <multilang>
            <en>
                <li class="rectangle-list-item bd-orange-500"><p>Creating and supporting the necessary cloud based infrastructure for Power Apps at an organization level</p></li>
                <li class="rectangle-list-item bd-cyan-800"><p>Identifying promising processes for development that would most benifit from operationalization</p></li>
                <li class="rectangle-list-item bd-yellow-800"><p>Onboarding such processes into Power Apps, with a view towards silo breaking, scalability, and re-usability</p></li>
                <li class="rectangle-list-item bd-cyan-700"><p>Establishing robust levels of "in house" knowledge to provide continuity of support for TC and lower dependence on contracted resources</p></li>
                <li class="rectangle-list-item bd-cyan-500"><p>Working directly with business lines towards the goal of Citizen Development</p></li>
            </en>
            <fr>
                <li class="rectangle-list-item bd-orange-500"><p>(fr) Creating and supporting the necessary cloud based infrastructure for Power Apps at an organization level</p></li>
                <li class="rectangle-list-item bd-cyan-800"><p>(fr) Identifying promising processes for development that would most benifit from operationalization</p></li>
                <li class="rectangle-list-item bd-yellow-800"><p>(fr) Onboarding such processes into Power Apps, with a view towards silo breaking, scalability, and re-usability</p></li>
                <li class="rectangle-list-item bd-cyan-700"><p>(fr) Establishing robust levels of "in house" knowledge to provide continuity of support for TC and lower dependence on contracted resources</p></li>
                <li class="rectangle-list-item bd-cyan-500"><p>(fr) Working directly with business lines towards the goal of Citizen Development</p></li>
            </fr>
        </multilang>

    </ol>
</div>

</html>
{{tcCentreOfExcellence_pace_footer}}