@page
{{tcCentreOfExcellence_pace}}
<html>
<style>
    .ultimate-goal-container {
        background-color: #e2e2e2;
        padding-top: 4em;
    }
        /* line 278, ../scss/main.scss */
        .ultimate-goal-container h3, .ultimate-goal-container h4 {
            color: #fff;
        }
        /* line 281, ../scss/main.scss */
        .ultimate-goal-container h4 {
            padding: 0 1em;
        }

        .centered {
            text-align: center;
        }

</style>


<div class="jumbotron-sub">
    <h1 class="pagetitle">
        <multilang>
            <en>
                Power Apps Centre Of Excellence (PACE)
            </en>
            <fr>
                Centre d'Excellence Power Apps (PACE)
            </fr>
        </multilang>
    </h1>
    <div class="pagetitle">
        <multilang>
            <en>
                <font size="4">Supporting effective utilization of Microsoft Power Apps throughout Transport Canada</font>
            </en>
            <fr>
                <font size="4">(to be translated) Supporting effective utilization of Microsoft Power Apps throughout Transport Canada</font>
            </fr>
        </multilang>

    </div>
</div>

<div class="container" style="padding-bottom: 30px">
    <div class="sub-info-section">
        <div class="row align-items-center">
            <div class="col-md-12 animated fadeInUp"> <img src="https://www.gcpedia.gc.ca/gcwiki/images/archive/3/3c/20201116045746%21Agile_Scrum_training_image_new.png" class="img-fluid" alt="Placeholder image" style="margin-bottom:0px;width: 55%;height: auto;"> </div>
            <div class="col-md-12">
                <p align=center><font size="3"></font></p>
                <div class="container">
                    <multilang>
                        <en>
                            <p class="h5">
                                <br />
                                PACE works to

                                <span style="color: rgb(226, 113, 50); font-weight: bold;">transfer </span>knowledge to employees,
                                <span style="color: rgb(67,151,254); font-weight: bold;">reducing </span>the need for consultants,
                                <span style="color: rgb(112, 173, 71); font-weight: bold;">supports </span>Agile Product Management,
                                <span style="color: rgb(122, 204, 188); font-weight: bold;">facilitates </span>the transformation effort towards all applications in the Cloud and
                                <u><span style="font-weight: bold;">champions</span></u>
                                Citizen Development.

                            </p>
                        </en>
                        <fr>
                            <p class="h5">
                                <br />
                                (to be translated) À

                                <span style="color: rgb(226, 113, 50); font-weight: bold;">promouvoir</span>,
                                <span style="color: rgb(67,151,254); font-weight: bold;">habiliter</span>, et
                                <span style="color: rgb(112, 173, 71); font-weight: bold;">soutenir</span>
                                <span style>l’agilité d’entreprise à</span>
                                <u><span style="font-weight: bold;">tous les niveaux et dans toutes les fonctions</span></u>
                                de Transports Canada à l’appui de notre plus haute priorité &ndash; satisfaire notre clientèle grâce à la livraison rapide et continue de solutions valables.
                            </p>
                        </fr>
                    </multilang>
                    <br />

                    <!----------------------CONTENT BOX 1 ---------------------->
                </div>
            </div>

        </div>
    </div>
</div>
<!----------------------CALENDAR SECTION---------------------->

<div class="ultimate-goal-container" id="register" style="padding-top:0em;">
    <div class="row info-container">

        <!----------------------BOX 1 ---------------------->
        <div class="box-wrap col-lg-2 offset-lg-3">
            <div class="info-box">
                <multilang>
                    <en><img src="https://www.gcpedia.gc.ca/gcwiki/images/a/a1/Agile_about_us.png" alt="About Us"/></en>
                    <fr><img src="https://www.gcpedia.gc.ca/gcwiki/images/a/a1/Agile_about_us.png" alt="À propos de nous"/></fr>
                </multilang>

                <h2>
                    <multilang>
                        <en><strong>About Us</strong></en>
                        <fr><strong>À propos de nous</strong></fr>
                    </multilang>
                </h2>
                <hr>
                <div align="left" class="centered">
                    <multilang>
                        <en>
                            Learn more about our guiding principals, who we are, and the different projects we've worked on at Transport Canada
                            <br /><br />
                            <a href="https://www.gcpedia.gc.ca/wiki/PowerAppsCentreOfExcellence/AboutUs" class="btn btn-primary">Learn more</a>
                        </en>
                        <fr>
                            (FR) Learn more about our guiding principals, who we are, and the different projects we've worked on at Transport Canada
                            <br /><br />
                            <a href="https://www.gcpedia.gc.ca/wiki/AgileCentreOfExcellence/AboutUs?lang=fr" class="btn btn-primary">(FR) Learn more</a>
                        </fr>
                    </multilang>
                </div>
            </div>
        </div>




        <!----------------------BOX 2---------------------->




        <div class="box-wrap col-lg-2">
            <div class="info-box" >
                <multilang>
                    <en><img src="https://www.gcpedia.gc.ca/gcwiki/images/d/d2/Agile_training.png" alt="Training"/></en>
                    <fr><img src="https://www.gcpedia.gc.ca/gcwiki/images/d/d2/Agile_training.png" alt="Formation"/></fr>
                </multilang>
                <h2>
                    <multilang>
                        <en><strong>Training</strong></en>
                        <fr><strong>Formation</strong></fr>
                    </multilang>
                </h2>
                <hr>
                <div align="left" class="centered">
                    <multilang>
                        <en>
                            Discover valuable resources that can help you get up to speed quickly with Microsoft PowerApps
                            <br /><br />
                            <a href="https://www.gcpedia.gc.ca/wiki/PowerAppsCentreOfExcellence/TrainingResources" class="btn btn-primary">Discover more</a>
                        </en>
                        <fr>
                            (FR) Discover valuable resources that can help you get up to speed quickly with Microsoft PowerApps
                            <br /><br />
                            <a href="https://www.gcpedia.gc.ca/wiki/AgileCentreOfExcellence/TrainingResources?lang=fr" class="btn btn-primary">(FR) Discover more</a>
                        </fr>
                    </multilang>
                </div>

            </div>
        </div>




        <!----------------------BOX 3---------------------->




        <div class="box-wrap col-lg-2">
            <div class="info-box" >
                <multilang>
                    <en><img src="https://www.gcpedia.gc.ca/gcwiki/images/0/0e/Agile_tools.png" alt="Tools & Resources"/></en>
                    <fr><img src="https://www.gcpedia.gc.ca/gcwiki/images/0/0e/Agile_tools.png" alt="Tools (FR) & Resources"/></fr>
                </multilang>
                <h2>
                    <multilang>
                        <en><strong>Tools & Resources</strong></en>
                        <fr><strong>Tools (FR) & Resources</strong></fr>
                    </multilang>
                </h2>
                <hr>
                <div align=left class="centered">
                    <multilang>
                        <en>
                            Find answers to questions, shortcuts, code snippets and more to help elevate your PowerApps game
                            <br /><br />
                            <a href="https://www.gcpedia.gc.ca/wiki/PowerAppsCentreOfExcellence/Resources" class="btn btn-primary">Get answers</a>
                        </en>
                        <fr>
                            (FR) Find answers to questions, shortcuts, code snippets and more to help elevate your PowerApps game
                            <br /><br />
                            <a href="https://www.gcpedia.gc.ca/wiki/AgileCentreOfExcellence/Resources?lang=fr" class="btn btn-primary">(FR) Get answers</a>
                        </fr>
                    </multilang>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container">
    <a name="resources"></a>

    <hr>
    <div class="text-center">
            <multilang>
                <en>
                    We are always trying to be better, so let us know how we can improve our pages and services.
                    <br>Send us an <a href="mailto:PowerAppsCenterOfExcellence-PowerAppsCentreDExcellence@tc.gc.ca">email</a> and we'll get back to you as soon as possible.
                </en>
                <fr>
                    <fr>
                        Nous essayons toujours de nous perfectionner, alors faites-nous savoir comment <br> nous pouvons améliorer les pages de notre site Web ainsi que nos services.
                        <br><br> Envoyez-nous un <a href="mailto:PowerAppsCenterOfExcellence-PowerAppsCentreDExcellence@tc.gc.ca">courriel</a> et nous vous répondrons au plus vite.
                    </fr>
            </multilang>
    </div>
    <div class="text-center">
        <a href="mailto:PowerAppsCenterOfExcellence-PowerAppsCentreDExcellence@tc.gc.ca"><image src="https://www.gcpedia.gc.ca/gcwiki/images/a/ac/CoEforHCD_-_Outlook_Icon.png" alt="email" width="30px"/></a>
        <a href="https://teams.microsoft.com/l/channel/19%3a70bce3949e654ffeaa2a405288125770%40thread.tacv2/General?groupId=7b0dbfe0-2510-4ee0-a3cb-1e5b3ec7e34b&amp;tenantId=2008ffa9-c9b2-4d97-9ad9-4ace25386be7"
                                   target="_blank"><image src="https://www.gcpedia.gc.ca/gcwiki/images/4/44/CoEforHCD_-_Teams_Icon.png" alt="Teams"  width="30px"/></a>
        <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=qf8IILLJl02a2UrOJThr56bkD2ECyRNOpBeYynQgVHJUREYxVzlTRkxQRElHVTUzUlkzVlc2RjFPTyQlQCN0PWcu"
                                   target="_blank"><image src="https://www.gcpedia.gc.ca/gcwiki/images/e/ed/Forms_Icon.png" alt="Teams"  width="30px"/></a>

        
    </div>
    <hr>
</div>




</html>
{{tcCentreOfExcellence_pace_footer}}