@page
{{tcCentreOfExcellence_pace}}
<html>

<div class="jumbotron-sub">
    <h1 class="pagetitle">
        <multilang>
            <en>
                Power Apps Centre Of Excellence (PACE)
            </en>
            <fr>
                Centre d'Excellence Power Apps (PACE)
            </fr>
        </multilang>
    </h1>
    <div class="pagetitle">
        <multilang>
            <en>
                <font size="4">Supporting effective utilization of Microsoft Power Apps throughout Transport Canada</font>
            </en>
            <fr>
                <font size="4">(to be translated) Supporting effective utilization of Microsoft Power Apps throughout Transport Canada</font>
            </fr>
        </multilang>

    </div>
</div>

<div class="container" style="padding-bottom: 30px">
    <div class="sub-info-section">
        <div class="row align-items-center">
            <div class="col-md-12 animated fadeInUp"> <img src="https://www.gcpedia.gc.ca/gcwiki/images/archive/3/3c/20201116045746%21Agile_Scrum_training_image_new.png" class="img-fluid" alt="Placeholder image" style="margin-bottom:0px;width: 55%;height: auto;"> </div>
            <div class="col-md-12">
                <p align=center><font size="3"></font></p>
                <div class="container">
                    <multilang>
                        <en>
                            <p class="h5">
                                <br />
                                PACE works to

                                <span class="orange-500"><strong>transfer</strong> </span>knowledge to employees,
                                <span class="blue-500"><strong>reducing </strong></span>the need for consultants,
                                <span class="green-500"><strong>supports </strong></span>Agile Product Management,
                                <span class="cyan-500"><strong>facilitates </strong></span>the transformation effort towards all applications in the Cloud and
                                <u><strong>champions</strong></u>
                                Citizen Development.

                            </p>
                        </en>
                        <fr>
                            <p class="h5">
                                <br />
                                To be translated
                                <span class="orange-500"><strong>transfer</strong> </span>knowledge to employees,
                                <span class="blue-500"><strong>reducing </strong></span>the need for consultants,
                                <span class="green-500"><strong>supports </strong></span>Agile Product Management,
                                <span class="cyan-500"><strong>facilitates </strong></span>the transformation effort towards all applications in the Cloud and
                                <u><strong>champions</strong></u>
                                Citizen Development.
                            </p>
                        </fr>
                    </multilang>
                    <!----------------------CONTENT BOX 1 ---------------------->
                </div>
            </div>

        </div>
    </div>
</div>
<!----------------------CALENDAR SECTION---------------------->

<div class="ultimate-goal-container" id="register" style="padding-top:0em;">
    <div class="row info-container">

        <!----------------------BOX 1 ---------------------->
        <div class="box-wrap col-lg-2 offset-lg-3">
            <div class="info-box">
                <multilang>
                    <en><img src="https://www.gcpedia.gc.ca/gcwiki/images/a/a1/Agile_about_us.png" alt="About Us" /></en>
                    <fr><img src="https://www.gcpedia.gc.ca/gcwiki/images/a/a1/Agile_about_us.png" alt="À propos de nous" /></fr>
                </multilang>

                <h2>
                    <multilang>
                        <en><strong>About Us</strong></en>
                        <fr><strong>À propos de nous</strong></fr>
                    </multilang>
                </h2>
                <div >
                    <multilang>
                        <en>
                            Learn more about our guiding principals, who we are, and the different projects we've worked on at Transport Canada
                        </en>
                        <fr>
                            (FR) Learn more about our guiding principals, who we are, and the different projects we've worked on at Transport Canada
                        </fr>
                    </multilang>
                </div>
                <div class="d-grid gap-2 col-8 mx-auto mt-4">
                    <multilang>
                        <en>
                            <a href="https://www.gcpedia.gc.ca/wiki/PowerAppsCentreOfExcellence/AboutUs" class="btn btn-primary btn-lg">Learn more</a>
                        </en>
                        <fr>
                            <a href="https://www.gcpedia.gc.ca/wiki/AgileCentreOfExcellence/AboutUs?lang=fr" class="btn btn-primary btn-lg">(FR) Learn more</a>
                        </fr>
                    </multilang>
                </div>
            </div>
        </div>

        <!----------------------BOX 2---------------------->




        <div class="box-wrap col-lg-2">
            <div class="info-box">
                <multilang>
                    <en><img src="https://www.gcpedia.gc.ca/gcwiki/images/d/d2/Agile_training.png" alt="Training" /></en>
                    <fr><img src="https://www.gcpedia.gc.ca/gcwiki/images/d/d2/Agile_training.png" alt="Formation" /></fr>
                </multilang>
                <h2>
                    <multilang>
                        <en><strong>Training</strong></en>
                        <fr><strong>Formation</strong></fr>
                    </multilang>
                </h2>
                <div >
                    <multilang>
                        <en>
                            Discover valuable resources that can help you get up to speed quickly with Microsoft PowerApps
                        </en>
                        <fr>
                            (FR) Discover valuable resources that can help you get up to speed quickly with Microsoft PowerApps
                        </fr>
                    </multilang>
                </div>
                <div class="d-grid gap-2 col-8 mx-auto mt-4">
                    <multilang>
                        <en>
                            <a href="https://www.gcpedia.gc.ca/wiki/PowerAppsCentreOfExcellence/TrainingResources" class="btn btn-primary btn-lg">Discover more</a>

                        </en>
                        <fr>
                            <a href="https://www.gcpedia.gc.ca/wiki/AgileCentreOfExcellence/TrainingResources?lang=fr" class="btn btn-primary btn-lg">(FR) Discover more</a>
                        </fr>
                    </multilang>
                </div>
            </div>
        </div>




        <!----------------------BOX 3---------------------->




        <div class="box-wrap col-lg-2">
            <div class="info-box">
                <multilang>
                    <en><img src="https://www.gcpedia.gc.ca/gcwiki/images/0/0e/Agile_tools.png" alt="Tools & Resources" /></en>
                    <fr><img src="https://www.gcpedia.gc.ca/gcwiki/images/0/0e/Agile_tools.png" alt="Tools (FR) & Resources" /></fr>
                </multilang>
                <h2>
                    <multilang>
                        <en><strong>Tools & Resources</strong></en>
                        <fr><strong>Tools (FR) & Resources</strong></fr>
                    </multilang>
                </h2>
                <div >
                    <multilang>
                        <en>
                            Find answers to questions, shortcuts, code snippets and more to help elevate your PowerApps game
                        </en>
                        <fr>
                            (FR) Find answers to questions, shortcuts, code snippets and more to help elevate your PowerApps game
                        </fr>
                    </multilang>
                </div>
                <div class="d-grid gap-2 col-8 mx-auto mt-4">
                    <multilang>
                        <en>
                            <a href="https://www.gcpedia.gc.ca/wiki/PowerAppsCentreOfExcellence/TrainingResources" class="btn btn-primary btn-lg">Get answers</a>

                        </en>
                        <fr>
                            <a href="https://www.gcpedia.gc.ca/wiki/AgileCentreOfExcellence/TrainingResources?lang=fr" class="btn btn-primary btn-lg">(FR) Get answers</a>
                        </fr>
                    </multilang>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container">
    <a name="resources"></a>

    <hr>
    <div class="text-center">
        <multilang>
            <en>
                We are always trying to be better, so let us know how we can improve our pages and services.
                <br>Send us an <a href="mailto:PowerAppsCenterOfExcellence-PowerAppsCentreDExcellence@tc.gc.ca">email</a> and we'll get back to you as soon as possible.
            </en>
            <fr>
                <fr>
                    Nous essayons toujours de nous perfectionner, alors faites-nous savoir comment <br> nous pouvons améliorer les pages de notre site Web ainsi que nos services.
                    <br><br> Envoyez-nous un <a href="mailto:PowerAppsCenterOfExcellence-PowerAppsCentreDExcellence@tc.gc.ca">courriel</a> et nous vous répondrons au plus vite.
                </fr>
        </multilang>
    </div>
    <div class="text-center">
        <a href="mailto:PowerAppsCenterOfExcellence-PowerAppsCentreDExcellence@tc.gc.ca"><image src="https://www.gcpedia.gc.ca/gcwiki/images/a/ac/CoEforHCD_-_Outlook_Icon.png" alt="email" width="30px" /></a>
        <a href="https://teams.microsoft.com/l/channel/19%3a70bce3949e654ffeaa2a405288125770%40thread.tacv2/General?groupId=7b0dbfe0-2510-4ee0-a3cb-1e5b3ec7e34b&amp;tenantId=2008ffa9-c9b2-4d97-9ad9-4ace25386be7"
           target="_blank"><image src="https://www.gcpedia.gc.ca/gcwiki/images/4/44/CoEforHCD_-_Teams_Icon.png" alt="Teams" width="30px" /></a>
        <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=qf8IILLJl02a2UrOJThr56bkD2ECyRNOpBeYynQgVHJUREYxVzlTRkxQRElHVTUzUlkzVlc2RjFPTyQlQCN0PWcu"
           target="_blank"><image src="https://www.gcpedia.gc.ca/gcwiki/images/e/ed/Forms_Icon.png" alt="Teams" width="30px" /></a>


    </div>
    <hr>
</div>




</html>
{{tcCentreOfExcellence_pace_footer}}