@page
{{tcCentreOfExcellence_pace}}
<html lang="en" dir="ltr" class="client-nojs">

<div class="jumbotron-sub-even">
    <h1 class="pagetitle">
	<multilang>
		<en>LICENSING & ENVIRONMENTS</en>
		<fr>LICENSING & ENVIRONMENTS - FR</fr>
	</multilang>
</h1>
</div>
<div class="container">
  <div class="sub-info-section">
    <div class="row align-items-left">
      <div class="col-md-12">       
		  <div style="text-align:left;margin-left:45px;">   
	<multilang>
		<en>
			                            There are two licenses currently available at the enterprise level to users:
                            <ol>
                                <li>Power apps per user - this license is best suited for app users, as well as UX developers. </li>

                                <li>FPC - this license is reserved for users who are doing developer level activity, require the Field Service, Customer Service Enterprise or Project Service Automation functions. </li>
                            </ol>
							<br /><br/>
			If you require a license or environment, please submit a request using the 
			<a href="https://pace-prod-tcd365.crm3.dynamics.com/main.aspx?appid=d4dbda0b-2c92-eb11-b1ac-000d3a09ceb5&forceUCI=1&pagetype=entitylist&etn=apt_request&viewid=84f9d5ab-042d-4f33-a8cf-2a2981720e37&viewType=1039" target="_blank">PACE Requests App</a>

		</en>
		<fr>
			(FR)
			If you require a license or environment, please submit a request using the 
			<a href="https://pace-prod-tcd365.crm3.dynamics.com/main.aspx?appid=d4dbda0b-2c92-eb11-b1ac-000d3a09ceb5&forceUCI=1&pagetype=entitylist&etn=apt_request&viewid=84f9d5ab-042d-4f33-a8cf-2a2981720e37&viewType=1039" target="_blank">PACE Requests App</a>
		</fr>
	</multilang>
                
		  </div>
	  </div>
	</div>
  </div>
</div>

</html>
{{tcCentreOfExcellence_pace_footer}}
