@page
{{tcCentreOfExcellence_pace}}
<html>

<style>
.panel-default:hover{
    background-color: #f2f3f4  ;
    transform: translate(0px,-2px) scale(1.02);
}

.headerText{
	font-size:20px;
	font-style: italic;
}

.letterText{
	font-size:18px;
}
</style>

<div class="jumbotron-sub-even" id="darkorange">
<h1 class="display-4">
	<multilang>
		<en>How we work</en>
		<fr>Comment nous travaillons</fr>
	</multilang>
</h1>
</div>
<div class="container">
  <div class="sub-info-section">
    <div class="row align-items-left">
      <div class="col-md-12">       
		  <div style="text-align:left;margin-left:45px;">   
	<multilang>
		<en>
			<p class="headerText">
				Dear Agile community,<br><br>
			</p>
			<p class="letterText">
				There has been lots of discussion around how an Agile approach fits into
				some of the more rigorous reporting structures (for example the gated PMF)
				required for government projects.
				<br><br>
				Developed collaboratively with TC’s Ninja Team Kraken and pulling
				inspiration from the UK.gov model, the TC’s Agile CoE has created the
				following "How we work" graphic.
				<br><br>
				This model shows how teams can align their Agile rollouts to the 4 and 5
				gate models of the PMF.
				<br><br>
				How does this resonate with you?<br><br>
			</p>
			<p class="letterText"><b>
				If you want to learn more, please sign-up to one of our upcoming Agile
				Planning and Estimation training session (coming in early 2021).</b>
			</p>

		</en>
		<fr>
			<p class="headerText">
				Chère communauté Agile,<br><br>
			</p>
			<p class="letterText">
				Il y a eu beaucoup de discussions sur la façon dont l’approche Agile
				s’intègre dans certaines des structures de rapports plus rigoureuses (par
				exemple le cadre de gestion de projets) requises pour les projets
				gouvernementaux.
				<br><br>
				Développé en collaboration avec l’équipe Ninja Kraken de TC et en
				s’inspirant du modèle UK.gov, le Centre d’excellence Agile chez Transport
				Canada a créé le diagramme suivant « How we work ».
				<br><br>
				Ce modèle montre comment les équipes peuvent aligner leurs déploiements
				Agiles envers les modèles 4 et 5 clôtures du PMF.
				<br><br>
				Comment est-ce que ceci résonne pour vous?<br><br>
			</p>
			<p class="letterText"><b>
				Si vous désirez en apprendre davantage, veuillez vous inscrire à l’une de
				nos prochaines sessions de formation « Estimation et planification Agile »
				(disponible début 2021).</b>
			</p>

		</fr>
	</multilang>
                
		  </div>
	  </div>
	</div>
  </div>
</div>

<div style="text-align:center">
<multilang>
<en></en>
<fr><strong><font size="3" color="darkblue"><br>La version française vous sera disponible prochainement.</font></strong></fr>
</multilang>
</div>
<embed src="https://www.gcpedia.gc.ca/gcwiki/images/3/34/Agile_How_we_work%CC%A0.pdf" width="100%" height="1300px" />
<footer class="footer">
    <multilang>
        <en>
            <img src="http://www.gcpedia.gc.ca/gcwiki/images/b/bb/FooterImg.png" class="img-fluid" alt="Placeholder image">
        </en>
        <fr>
            <img src="http://www.gcpedia.gc.ca/gcwiki/images/3/34/Footer-fr.png" class="img-fluid" alt="Placeholder image">
        </fr>
    </multilang>
    
    <br><br> 
    <img src="https://www.gcpedia.gc.ca/gcwiki/images/9/92/CanadaWordmark_white.png" class="img-fluid" style="width:8%">
    
</footer>
</html>
