@page
{{tcCentreOfExcellence_pace}}
<html lang="en" dir="ltr" class="client-nojs">

<style>
    /*.panel-default:hover{
                background-color: #f2f3f4  ;
                transform: translate(0px,-2px) scale(1.02);
            }

            .headerText{
                font-size:20px;
                font-style: italic;
            }

            .letterText{
                font-size:18px;
            }*/

</style>

<div class="jumbotron-sub-even">
    <h1>
        <multilang>
            <en>Training Resources</en>
            <fr>Training Resources (fr)</fr>
        </multilang>
    </h1>
</div>
<div class="container"> 
    <p class="lead mt-4">
        <multilang>
            <en>A Centre of Excellence supporting effective utilization of the Microsoft Power Apps suite throughout Transport Canada. This includes:</en>
            <fr>(fr) A Centre of Excellence supporting effective utilization of the Microsoft Power Apps suite throughout Transport Canada. This includes:</fr>
        </multilang>
         
    </p>
        <div class="accordion">
            <details open="open">
                <summary class=" ">
                    <multilang>
                        <en>
                            Power Apps Support - Microsoft
                        </en>
                        <fr>
                            Support de Power Apps - Microsoft
                        </fr>
                    </multilang>
                </summary> 
                <multilang>
                    <en>
                        <a href="https://powerapps.microsoft.com/en-us/support/">Power Apps Support - Microsoft</a>
                        <p>
                            Microsoft Support Board for all known Power Apps issues
                        </p>
                    </en>
                    <fr>
                        <a href="https://powerapps.microsoft.com/en-us/support/">Support de Power Apps - Microsoft</a>
                        <p>Tableau d'assistance Microsoft pour tous les problèmes connus de Power Apps</p>
                    </fr>
                </multilang>
            </details>
        
        
            <details>
                <summary class="">
                    <multilang>
                        <en>
                            Microsoft Power Apps Community 
                        </en>
                        <fr>
                            Communauté Microsoft Power Apps
                        </fr>
                    </multilang>
                </summary>
                <multilang>
                    <en>
                        <a href="https://powerusers.microsoft.com/t5/Power-Apps-Community/ct-p/PowerApps1">Microsoft Power Apps Community</a>
                        <p>
                            Microsoft Power Apps discussion board.
                        </p>
                    </en>
                    <fr>
                        <a href="https://powerusers.microsoft.com/t5/Power-Apps-Community/ct-p/PowerApps1">Communauté Microsoft Power Apps</a>
                        <p>Forum de discussion Microsoft Power Apps.</p>
                    </fr>
                </multilang>
            </details>
        
        
            <details>
                <summary class="">
                    <multilang>
                        <en>
                            Get Started with Power Apps portals
                        </en>
                        <fr>
                            Commencez avec les portails Power Apps
                        </fr>
                    </multilang>
                </summary>
                <multilang>
                    <en>
                        <a href="https://docs.microsoft.com/en-ca/learn/paths/get-started-power-apps-portals/">Get Started with Power Apps portals</a>
                        <p>
                            Microsoft learning path for getting started with Power Apps portals.
                        </p>
                    </en>
                    <fr>
                        <a href="https://docs.microsoft.com/fr-ca/learn/paths/get-started-power-apps-portals/">Commencez avec les portails Power Apps</a>
                        <p>Parcours d'apprentissage Microsoft pour démarrer avec les portails Power Apps.</p>
                    </fr>
                </multilang>
            </details>
        
        
            <details>
                <summary class="">
                    <multilang>
                        <en>
                            Dynamics 365 Training
                        </en>
                        <fr>
                            Formation Dynamics 365
                        </fr>
                    </multilang>
                </summary>
                <multilang>
                    <en>
                        <a href="https://365.training/Courses">Dynamics 365 Training</a>
                        <p>
                            Includes both free and courses for a fee.
                        </p>
                    </en>
                    <fr>
                        <a href="https://365.training/Courses">Formation Dynamics 365</a>
                        <p>Comprend des cours gratuits et payants.</p>
                    </fr>
                </multilang>
            </details>
        
        
            <details>
                <summary class="">
                    <multilang>
                        <en>
                            Microsoft Virtual Training Days
                        </en>
                        <fr>
                            Journées de formation virtuelle Microsoft
                        </fr>
                    </multilang>
                </summary>
                <multilang>
                    <en>
                        <a href="https://www.microsoft.com/en-ca/sites/microsoft-training-days/?EventTitle=&index=0&RecordCount=12&OrderBy=date">Microsoft Virtual Training Days</a>
                        <p>
                            Registration for upcoming virtual training days.
                        </p>
                    </en>
                    <fr>
                        <a href="https://www.microsoft.com/fr-ca/sites/microsoft-training-days/?EventTitle=&index=0&RecordCount=12&OrderBy=date">Journées de formation virtuelle Microsoft</a>
                        <p>Inscription aux prochaines journées de formation virtuelle</p>
                    </fr>
                </multilang>
            </details>
        
        
            <details>
                <summary class="">
                    <multilang>
                        <en>
                            Microsoft Power Apps Online Modules
                        </en>
                        <fr>
                            Modules en ligne Microsoft Power Apps
                        </fr>
                    </multilang>
                </summary>
                <multilang>
                    <en>
                        <a href="https://docs.microsoft.com/en-us/learn/browse/?products=power-apps">Microsoft Power Apps Online Modules</a>
                        <p>
                            Filtered search of Power Apps Modules from Microsoft.
                        </p>
                    </en>
                    <fr>
                        <a href="https://docs.microsoft.com/fr-ca/learn/browse/?products=power-apps">Modules en ligne Microsoft Power Apps</a>
                        <p>Recherche filtrée des modules Power Apps de Microsoft.</p>
                    </fr>
                </multilang>
            </details>
        
        
            <details> 
                <summary class="">
                    <multilang>
                        <en> 
                            Microsoft Certification and Exams
                        </en>
                        <fr>
                            Certification et examens Microsoft
                        </fr>
                    </multilang>
                </summary>
                <multilang>
                    <en>
                        <a href="https://docs.microsoft.com/en-ca/learn/certifications/browse/">Microsoft Certification and Exams</a>
                        <p>
                            Select an exam/certification, and it will show you the free online modules to prepare you, as well as paid options.
                        </p>
                    </en>
                    <fr>
                        <a href="https://docs.microsoft.com/fr-ca/learn/certifications/browse/">Certification et examens Microsoft</a>
                        <p>Sélectionnez un examen/une certification et vous verrez les modules en ligne gratuits pour vous préparer, ainsi que les options payantes.</p>
                    </fr>
                </multilang>
            </details>
        </div>
    
</div>

</html>
{{tcCentreOfExcellence_pace_footer}}