
<style>
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 95px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #abf3f0;
        color: black;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }

        #myBtn:hover {
            background-color: #7CCCBD;
        }

    #chatBtn {
        background-color: #192a88; /* Dark blue*/
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 50%;
        position: fixed;
        bottom: 10px;
        right: 10px;
    }

        #chatBtn:hover {
            box-shadow: 0 0 10px 0 rgba(22, 45, 61, .25);
        }
</style>
<div class="footer">
    <multilang>
        <en>
            <img src="http://www.gcpedia.gc.ca/gcwiki/images/b/bb/FooterImg.png" class="img-fluid" alt="Transport Canada">
        </en>
        <fr>
            <img src="http://www.gcpedia.gc.ca/gcwiki/images/3/34/Footer-fr.png" class="img-fluid" alt="Transports Canada">
        </fr>
    </multilang>
    <br/>
    <img src="https://www.gcpedia.gc.ca/gcwiki/images/9/92/CanadaWordmark_white.png" alt="Symbol of the Government of Canada / Symbole du gouvernement du Canada" class="img-fluid" style="width:8%">

</div>
<button onclick="topFunction()" id="myBtn" title="Go to top"><STRONG> ↑ </STRONG></button>

<a id="chatBtn" title="Microsoft Teams" href="https://teams.microsoft.com/l/channel/19%3a70bce3949e654ffeaa2a405288125770%40thread.tacv2/General?groupId=7b0dbfe0-2510-4ee0-a3cb-1e5b3ec7e34b&tenantId=2008ffa9-c9b2-4d97-9ad9-4ace25386be7" target="_blank">
    <svg viewBox="0 0 23 23.36" fill="currentColor" width="30px" height="30px" alt="Microsoft Teams">
        <g id="Layer_2">
            <path d="M22.81,9.41a11.49,11.49,0,1,0-7.47,12.93.47.47,0,0,1,.3,0l3.05,1a1,1,0,0,0,1.3-1V19.42a.48.48,0,0,1,.13-.32,11.63,11.63,0,0,0,1.3-1.79A11.47,11.47,0,0,0,22.81,9.41ZM7.5,12.5a1,1,0,1,1,1-1A1,1,0,0,1,7.5,12.5Zm4,0a1,1,0,1,1,1-1A1,1,0,0,1,11.5,12.5Zm4,0a1,1,0,1,1,1-1A1,1,0,0,1,15.5,12.5Z" id="Layer_1-2"></path>
        </g>
    </svg>

</a>

<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
      } else {
        document.getElementById("myBtn").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
</script>