<!DOCTYPE html>
<html lang="en" dir="ltr" class="client-nojs">

<head>
    <meta charset="UTF-8" />
    <title>PowerAppsCentreOfExcellence - GCpedia</title>
    <script>document.documentElement.className = document.documentElement.className.replace(/(^|\s)client-nojs(\s|$)/, "$1client-js$2");</script>
    <script>window.RLQ = window.RLQ || []; window.RLQ.push(function () {
            mw.config.set({
                "wgCanonicalNamespace": "", "wgCanonicalSpecialPageName": !1, "wgNamespaceNumber": 0, "wgPageName": "PowerAppsCentreOfExcellence", "wgTitle": "PowerAppsCentreOfExcellence", "wgCurRevisionId": 2861464, "wgRevisionId": 2861464, "wgArticleId": 516435, "wgIsArticle": !0, "wgIsRedirect": !1, "wgAction": "view", "wgUserName": null, "wgUserGroups": ["*"], "wgCategories": [], "wgBreakFrames": !1, "wgPageContentLanguage": "en", "wgPageContentModel": "wikitext", "wgSeparatorTransformTable": ["", ""], "wgDigitTransformTable": ["", ""], "wgDefaultDateFormat": "dmy", "wgMonthNames": ["", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], "wgMonthNamesShort": ["", "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"], "wgRelevantPageName": "PowerAppsCentreOfExcellence", "wgRelevantArticleId": 516435, "wgIsProbablyEditable": !1, "wgRestrictionEdit": [], "wgRestrictionMove": [], "wgULSAcceptLanguageList": ["en-us", "en", "zh-cn", "zh"],
                "wgULSCurrentAutonym": "English", "wgWikiEditorEnabledModules": { "toolbar": !0, "dialogs": !1, "preview": !1, "publish": !1 }, "wgVisualEditor": { "pageLanguageCode": "en", "pageLanguageDir": "ltr", "usePageImages": !1, "usePageDescriptions": !1 }, "wgCategoryTreePageCategoryOptions": "{\"mode\":0,\"hideprefix\":20,\"showcount\":true,\"namespaces\":false}", "fancytree_path": "https://www.gcpedia.gc.ca/gcwiki/extensions/TreeAndMenu/fancytree", "wgVisualEditorToolbarScrollOffset": 0
            }); mw.loader.implement("user.options", function ($, jQuery) { mw.user.options.set({ "variant": "en" }); }); mw.loader.implement("user.tokens", function ($, jQuery) { mw.user.tokens.set({ "editToken": "+\\", "patrolToken": "+\\", "watchToken": "+\\" }); }); mw.loader.load(["mediawiki.page.startup", "mediawiki.legacy.wikibits", "ext.favorites.style", "ext.uls.init", "ext.uls.interface", "ext.visualEditor.desktopArticleTarget.init", "skins.vector.js"]);
        });</script>
    <link rel="stylesheet"
        href="https://www.gcpedia.gc.ca/gcwiki/load.php?debug=false&amp;lang=en&amp;modules=ext.uls.nojs%7Cext.visualEditor.desktopArticleTarget.noscript%7Cmediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.sectionAnchor%7Cmediawiki.skinning.interface%7Cskins.vector.styles&amp;only=styles&amp;skin=vector" />
    <link rel="stylesheet" href="https://www.gcpedia.gc.ca/gcwiki/extensions/TreeAndMenu/fancytree/fancytree.css" />
    <link rel="stylesheet" href="https://www.gcpedia.gc.ca/gcwiki/extensions/TreeAndMenu/suckerfish/suckerfish.css" />
    <meta name="ResourceLoaderDynamicStyles" content="" />
    <link rel="stylesheet"
        href="https://www.gcpedia.gc.ca/gcwiki/load.php?debug=false&amp;lang=en&amp;modules=site&amp;only=styles&amp;skin=vector" />
    <style>
        a:lang(ar),
        a:lang(kk-arab),
        a:lang(mzn),
        a:lang(ps),
        a:lang(ur) {
            text-decoration: none
        }
    </style>
    <script async=""
        src="https://www.gcpedia.gc.ca/gcwiki/load.php?debug=false&amp;lang=en&amp;modules=startup&amp;only=scripts&amp;skin=vector"></script>
    <meta name="generator" content="MediaWiki 1.26.2" />
    <meta name="platform" content="gcpedia" />
    <meta name="dcterms.language" content="en" />
    <meta name="dcterms.title" content="PowerAppsCentreOfExcellence" />
    <meta name="dcterms.type" content="" />
    <meta name="dcterms.modified" content="2022-01-19 19:34:11" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="search" type="application/opensearchdescription+xml" href="https://www.gcpedia.gc.ca/gcwiki/opensearch_desc.php"
        title="GCpedia (en)" />
    <link rel="EditURI" type="application/rsd+xml" href="https://www.gcpedia.gc.cahttps://www.gcpedia.gc.ca/gcwiki/api.php?action=rsd" />
    <link rel="alternate" type="application/atom+xml" title="GCpedia Atom feed"
        href="https://www.gcpedia.gc.ca/gcwiki/index.php?title=Special:RecentChanges&amp;feed=atom" />
    <!--[if lt IE 7]><style type="text/css">body{behavior:url("https://www.gcpedia.gc.ca/gcwiki/skins/Vector/csshover.min.htc")}</style><![endif]-->
    <link rel="stylesheet" href="https://www.gcpedia.gc.ca/gcwiki/skins/Vector/GCWeb/css/gcpedia.css">
    <link rel="stylesheet" href="https://www.gcpedia.gc.ca/gcwiki/skins/Vector/GCWeb/css/theme.css">
    <link href="https://www.gcpedia.gc.ca/gcwiki/skins/Vector/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon">
</head>

<body class="mediawiki ltr sitedir-ltr ns-0 ns-subject page-PowerAppsCentreOfExcellence skin-vector action-view">
    <header role="banner">
        <div id="app-brand">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-xs-7">
                        <div class="app-name">
                            <a href="/wiki/Main_Page">
                                <span><span class="bold-gc">GC</span>pedia</span>
                            </a>
                        </div>


                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-7 hidden-sm hidden-xs">
                        <ul id="tool-link" class="pull-left list-unstyled mrgn-bttm-0">

                            <li class="pull-left tool-link">
                                <a href="http://gcdirectory-gcannuaire.gc.ca/en/GCD/?pgid=002">
                                    <span class="bold-gc">GC</span>directory</a>

                            </li>

                            <li class="pull-left tool-link">
                                <a
                                    href="https://intranet.canada.ca/index-eng.asp?utm_source=gcpedia&utm_medium=gctools-banner&utm_campaign=generic">
                                    <span class="bold-gc">GC</span>intranet</a>

                            </li>

                            <li class="pull-left tool-link">
                                <a href="https://gcconnex.gc.ca/">
                                    <span class="bold-gc">GC</span>connex</a>

                            </li>

                            <li class="pull-left tool-link">
                                <a href="https://gccollab.ca/">
                                    <span class="bold-gc">GC</span>collab</a>

                            </li>

                        </ul>
                    </div>

                    <div id="wb-lng" class="visible-lg text-right col-sm-1">
                        <div class="col-md-12">
                            <ul class="list-inline margin-bottom-none">
                                <li><a lang='fr' href='?setlang=fr&uselang=fr'>Français</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-5 col-lg-3 col-md-4 col-xs-5 text-right">
                        <section id="wb-srch" class="text-right">
                            <h2>Search</h2>
                            <form action="https://intranet.canada.ca/search-recherche/query-recherche-eng.aspx"
                                method="get" name="cse-search-box" role="search" class="form-inline">
                                <div class="form-group">
                                    <label for="wb-srch-q" class="wb-inv">Search website</label>
                                    <input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q"
                                        type="search" value="" size="21" maxlength="150" placeholder="Search GCTools">
                                    <datalist id="wb-srch-q-ac">
                                        <!--[if lte IE 9]><select><![endif]-->
                                        <!--[if lte IE 9]></select><![endif]-->
                                    </datalist>
                                    <!-- hidden forms for federated search -->
                                    <input type="hidden" name="a" value="s">
                                    <input type="hidden" name="s" value="2">
                                    <input type="hidden" name="chk3" value="True">
                                </div>
                                <div class="form-group submit">
                                    <button type="submit" id="wb-srch-sub" class="btn btn-small"
                                        name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span
                                            class="wb-inv">Search</span></button>
                                </div>
                            </form>
                        </section>
                    </div>


                    <!--<form
			action="https://www.gcpedia.gc.ca/gcwiki/index.php"
			role="search"
			class="mw-portlet"
			id="p-search"
		>
			<input type="hidden" name="title" value="Special:Search" />
			<h3>
				<label for="searchInput">Search</label>
			</h3>
			<input type="search" name="search" placeholder="Search GCpedia" title="Search GCpedia [f]" accesskey="f" id="searchInput" />			<input type="submit" name="go" value="Go" title="Go to a page with this exact name if it exists" id="searchGoButton" class="searchButton" />			<input type="hidden" name="title" value="Special:Search"/>
		</form>-->
                </div>
            </div>

        </div>
    </header>

    <div id="mw-page-base" class="noprint"></div>
    <div id="mw-head-base" class="noprint"></div>
    <div id="content" class="mw-body" role="main">
        <a id="top"></a>

        <div id="siteNotice">
            <div id="localNotice" lang="en" dir="ltr"></div>
        </div>
        <div class="mw-indicators">
        </div>
        <h1 id="firstHeading" class="firstHeading" lang="en">PowerAppsCentreOfExcellence</h1>
        <div id="bodyContent" class="mw-body-content">
            <div id="siteSub">From GCpedia</div>
            <div id="contentSub"></div>
            <div id="jump-to-nav" class="mw-jump">
                Jump to: <a href="#mw-head">navigation</a>, <a href="#p-search">search</a>
            </div>
            <div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
                <partial name="_TemplatePartial" />
                @RenderBody()
                <partial name="_FooterPartial" />
            </div>
        </div>
    </div>
</body>
</html>
