@page
{{tcCentreOfExcellence_pace}}
<html>

<style>
    /*.panel-default:hover{
        background-color: #f2f3f4  ;
        transform: translate(0px,-2px) scale(1.02);
    }

    .headerText{
        font-size:20px;
        font-style: italic;
    }

    .letterText{
        font-size:18px;
    }*/

</style>

<div class="jumbotron-sub-even">
    <h1>
        <multilang>
            <en>Training Resources</en>
            <fr>Training Resources (fr)</fr>
        </multilang>
    </h1>
</div>
<div class="container">
    <p class="lead">
        <multilang>
            <en>A Centre of Excellence supporting effective utilization of the Microsoft Power Apps suite throughout Transport Canada. This includes:</en>
            <fr>(fr) A Centre of Excellence supporting effective utilization of the Microsoft Power Apps suite throughout Transport Canada. This includes:</fr>
        </multilang>

    </p>
    <ul class="list-unstyled">
	<li>
		<details open="open">
			<summary class="bg-primary text-white">Example 1</summary>
			123123123123123123123123123123
		</details>
	</li>
	<li>
		<details>
			<summary class="bg-primary text-white">Example 1</summary>
			456456456456456456456456456456
		</details>
	</li>
</ul>
</div>

</html>
{{tcCentreOfExcellence_pace_footer}}